body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
}

.App {
  width: 100%;
}

h1 {
  text-align: center;
  background-color:darkslategray;
}

h3 {
  text-align: center;
  color: black;
}

.all-ships {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: auto;
  border-radius: 5px;
  background-color: darkslategrey;
  margin: 20px;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  color: white;
}

.ship-name:hover {
  color: black;
}

.ship-info {
  color: rgb(224, 218, 218);
  font-size: 16px;
  padding: 5px;
}

.info-label {
  color: darkgray;
  font-weight: bold;
}